.footer {
    background-color: rgb(59 59 59);
    color: white;
    padding: 40px 0;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}

.footer-content {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo img {
    max-width: 150px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    text-align: center;
}

.footer-links ul li a:hover {
    color: #ff6600;
}

.footer-social a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}