// File: ImageGrid.scss

.image-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.image-grid {
  overflow: hidden;
}

.grid-image {
  width: 100%; /* Set to 100% to make sure it fits the grid cell */
  height: 100%;
  object-fit: cover;
}
