  // Assuming a mobile-first approach, with placeholders for media queries
  $primary-color: #ffa500; // Example primary color
  $secondary-color: #333; // Example secondary color
  $font-stack: 'Helvetica Neue', sans-serif;

  // // Reset margin and padding for all elements
  // * {
  //   margin: 0;
  //   padding: 0;
  //   box-sizing: border-box;
  // }

  // body {
  //   font-family: $font-stack;
  // }

  // // Header section
  // .header {
  //   background-color: $primary-color;
  //   padding: 1rem;

  //   .navigation {
  //     // Navigation styles
  //   }
  // }

  // // Main content section
  // .main-content {
  //   padding: 1rem;

  //   .profile-section {
  //     // Profile section styles
  //   }

  //   .about-me {
  //     // About Me section styles
  //   }

  //   .fitness-classes {
  //     // Fitness Classes section styles
  //   }

  //   .contact-me {
  //     // Contact Me section styles
  //   }

  //   .specialization {
  //     // Specialization section styles
  //   }

  //   .certificates {
  //     // Certificates section styles
  //   }

  //   .photos-videos {
  //     // Photos and Videos section styles
  //   }

  //   .schedule {
  //     // Schedule section styles
  //   }

  //   .testimonials {
  //     background-color: $secondary-color;
  //     color: white;
  //     padding: 1rem;
  //     font-style: italic;

  //     .rating {
  //       // Rating stars or numbers style
  //     }
  //   }
  // }

  // // Footer section
  // .footer {
  //   background-color: $primary-color;
  //   color: white;
  //   padding: 1rem;
  //   text-align: center;
  // }

  // // Responsive design
  // @media (min-width: 768px) {
  //   .main-content {
  //     // Adjust padding or layout for larger screens
  //   }
  // }

  .profile-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // height: 100vh;
    background-color: #f8f8f8;
    width: 100%;
    // overflow-x: hidden;
    // overflow-y: scroll;
    // display: none;
    font-family: sans-serif;
  }

  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: yellow;
    background: #3b3b3b;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10000;
    // border: solid black;
    // display: none;
  }

  .login-button {
    background: linear-gradient(to bottom, #ffdb58, #ffcc00);
    color: #333;
    padding: 10px 30px;
    font-size: 16px;
    margin-right: 30px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, color 0.3s;
  }

  .profile-second-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: green;
    height: 65vh;
    width: 100%;
    background-image: url("../assets/fit2.jpg");
    background-size: cover;
    /* Cover the entire div */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-position: center;
    /* Center the image in the div */
    // border: solid black;
    // padding: 0px 20px;
    font-family: $font-stack;
  }

  .profile-second-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
    //background: orange;
    height: 40vh;
    width: 30%;
    border-radius: 5px;

    // border: solid black;
    //cursor: grab;
    backdrop-filter: blur(10px);
    /* Add a blur effect */
    padding: 20px;
    background: rgba(0, 0, 0, 0.3); // Black with 50% opacity

  }

  .ribbon-box-red {
    position: relative;
    width: 100%;

    //height: 100%;
    //background-color: #fff; /* Adjust as needed */
    /* Add other styles for your box */
  }


  .ribbon-box-red::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    border-top: 50px solid rgb(198, 11, 11);
    /* Adjust size and color as needed */
    border-right: 50px solid transparent;
    /* Adjust size */
    width: 0;
    height: 0;
  }

  .ribbon-box-red:hover::after {
    border-top-color: #f90303;
    /* Change color on hover */
    border-top-width: 60px;
    /* Increase size on hover */
    border-right-width: 60px;
    /* Increase size on hover */
    cursor: pointer;
    color: white;
    content: 'Red Verified';
    transition: all 0.3s ease;
    /* Smooth transition for hover effects */

  }

  .ribbon-box-blue {
    position: relative;
    width: 100%;

    //height: 100%;
    //background-color: #fff; /* Adjust as needed */
    /* Add other styles for your box */
  }

  .ribbon-box-blue::after {
    content: '';

    position: absolute;
    top: 0;
    //left:0;
    right: 60px;
    border-top: 50px solid rgb(52, 52, 187);
    /* Adjust size and color as needed */
    border-right: 50px solid transparent;
    /* Adjust size */
    width: 0;
    height: 0;
  }

  .ribbon-box-blue:hover::after {
    border-top-color: blue;
    /* Change color on hover */
    border-top-width: 60px;
    /* Increase size on hover */
    border-right-width: 60px;
    /* Increase size on hover */
    cursor: pointer;
    color: white;
    content: 'Blue Verified';
    transition: all 0.3s ease;
    /* Smooth transition for hover effects */
  }

  .profile-social-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    // border: solid black;
  }

  .profile-social-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 10vh;
    // background: blue;
    // border: solid black;
    //cursor: grab;
  }

  .profile-aboutme-main {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    // align-items: center;
    width: 100%;
    height: 47vh;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    // border: solid black;
  }

  .profile-aboutme-main-1 {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    // overflow: hidden;
    // align-items: center;
    width: 100%;
    // height: 50vh;
    color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    // background: greenyellow;
    // border: solid black;
  }

  .profile-aboutme-main-2 {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    // align-items: center;
    width: 100%;
    height: 50vh;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

    // border: solid black;
  }

  .profile-aboutme-left-box {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 25%;
    // height: 50vh;
    background: #fce13c;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    // margin-right: 50px;
    // border: solid black;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 324px 100%, 0 65%);
    //cursor: grab;
  }

  .profile-aboutme-right-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    height: 100%;
    background: turquoise;
    // border: solid black;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  }

  .dropped-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 100%;
    height: 2vh;
    background: grey;
    border: solid black;
  }

  .profile-card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 3px;
    width: 100%;
    height: 100%;
    // background: grey;
    // border: solid black;
    flex-direction: column;
  }

  .profile-card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    //margin: 3px;
    // height: 100%;
    width: 100%;
    // height: 2vh;
    // background: purple;
    // border: solid black;
  }

  .profile-card-top-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    //margin: 3px;
    // height: 100%;
    width: 100%;
    // height: 2vh;
    // background: yellow;
    // border: solid black;
    margin-left: 15px;
    flex-direction: column;
    color: white;
    font-family: $font-stack;
  }

  .profile-card-top-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //margin: 3px;
    // height: 100%;
    width: 20%;
    // height: 2vh;
    // background: red;
    // border: solid black;
  }

  .profile-card-bottom {
    display: flex;
    justify-content: center;
    // align-items: center;
    // margin: 3px;
    width: 100%;
    height: 100%;
    // height: 2vh;
    // background: green;
    // border: solid black;
    flex-direction: column;
    color: white;
  }

  .profile-card-bottom-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    // height: 2vh;
    //background: green;
    //border: solid black;
  }

  .transparent-button {
    background-color: transparent;
    /* Makes the background transparent */
    border: 2px solid white;
    /* Add a border (change color as needed) */
    color: white;
    /* Text color (change as needed) */
    padding: 10px 20px;
    /* Adjust padding as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Changes //cursor to pointer on hover */
    transition: all 0.3s ease;
    /* Smooth transition for hover effects */
  }

  .transparent-button:hover {
    // background-color: #fdee00; /* Background color on hover (change as needed) */
    border: 2px solid #fdee00;
    /* Add a border (change color as needed) */
    color: #fdee00;
    /* Text color on hover */
  }

  .profile-cards-container {
    display: flex;
    justify-content: center;
  }

  .profile-cards {
    width: 100%;
    background-color: pink;
    color: white;
    // padding: 20px;
    // margin: 30px;
    text-align: center;
    height: 47vh;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 200px 100%, 0 65%);
  }

  // .profile-cards + .profile-cards {
  //   // margin-left: 10px;
  // }

  .profile-button {
    background-color: #fcfcfc;
    border: none;
    color: black;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    // border-radius: 5px;
  }

  #img-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  #img-wrapper>div {
    flex: 0 1 33%;
  }

  .under-line {
    height: 4px;
    margin-left: 60px;
    background-color: white;
    width: 100px;
    margin-top: 10px;

  }

  .contact-icons {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: black;
    margin-left: 60px;
    margin-top: 50px;
    line-height: 50px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .text {
    margin-left: 10px;
  }

  .certificate-main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #f8f8f8;
    color: black;
    margin-left: 20px;
  }

  .star-main {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 10px 0px 0px 0px;

  }

  .starText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-weight: 700;
  }

  .follow-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .sessions {
    // border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    // background-color: #333;

  }

  .sessions1 {
    // border: 1px solid white;
    color: white;
    width: 60px;
    padding: 1px;
    display: flex;
    justify-content: center;
    // border-radius: 5px;
    font-size: xx-large;
    // font-weight: 800;
    // background-color: #333;
  }

  // .sessions:hover {
  //   //color: #f90303 ;
  //   // transform: scale(1.1);
  //   // background-color: black !important;
  //   // transition: all 0.3s ease;
  //   /* Smooth transition for hover effects */
  // }

  .starText:hover {
    cursor: pointer;
    //transform: scale(1.1);
    background-color: black !important;
    transition: all 0.3s ease;
    /* Smooth transition for hover effects */
  }

  .creditscore-box-blue {
    position: relative;
    width: 100%;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .creditscore-box-blue .icon-button-creditscore-blue {
    position: absolute;
    top: 0;
    right: 60px;
    cursor: pointer;
    color: #039cff; /* Set the desired color */
    font-size: 40px; /* Adjust the font size as needed */
    transition: all 0.3s ease;
  }
  
  .creditscore-box-blue:hover .icon-button-creditscore-blue {
    color: lightskyblue; /* Change color on hover */
    transform: scale(1.1); /* Optional: Increase size on hover */
  }
  
  .creditscore-box-yellow {
    position: relative;
    width: 100%;
    // margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .creditscore-box-yellow .icon-button-creditscore-yellow {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: yellow; /* Set the desired color */
    font-size: 40px; /* Adjust the font size as needed */
    transition: all 0.3s ease;
  }
  
  .creditscore-box-yellow:hover .icon-button-creditscore-yellow {
    color: #cccc00; /* Change color on hover */
    transform: scale(1.1); /* Optional: Increase size on hover */
  }
  