.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tab-divider {
  height: 34px;
  width: 1px;
  background-color: #3333334d;
}

.tab-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #333;
}

.tab-buttons button.active {
  border-bottom: 2px solid #3498db;
  color: #3498db;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.media-item {
  // border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  /* Set initial height to 0 */
  position: relative;
  gap: 1px;
}

/* Adjust styles for images within .media-item */
.media-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Maintain aspect ratio and cover entire container */
}
.media-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  img,
  video {
    max-width: 100%;
    max-height: 100%;
  }

  button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }


}

.waggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.waggle-content {
  margin: 5px 20px 5px 20px;
  border: 1px solid black;
  border-radius: 10px;
  // max-width: 559px;
  background-color: #fff;
  border: 1px solid #e24486;
  box-shadow: 0 0 10px #e24486;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  @media (min-width: 426px) and (max-width: 768px) {
    width: 80%;
  }
}
 




.tab-component-container {
  position: relative;
  height: 100%; // Ensure the container takes full height
}

.view-all-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px; // Adjust the margin as needed
  padding: 5px 10px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, color 0.3s;

}
