.carousel-container {
  display: flex;
  align-items: center;
}

.carousel-button {
  background-color: transparent !important;
  color: grey !important;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 40px;
  height: 10vh;
}

.carousel-button:hover {
  color: white !important;
  background-color: darkgray !important;
}
// .carousel-content {
//   display: flex;
//   overflow: hidden;
//   margin: 0; /* Remove any margin */
// }

// .carousel-item {
//   min-width: 100px; /* Adjust as needed */
//   padding: 10px;
//   border: 1px solid #dee2e6;
//   text-align: center;
//   display: flex;
//   justify-content: flex-start;
//   flex-direction: column;
//   align-items: flex-start;
// }

.carousel-content {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  min-width: 340px !important; /* Adjust as needed */
  margin: 0px;
  padding: 10px;
  // background-color: #f8f8f8;
  border: 1px solid #dee2e6;
  // border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  // border-radius: 20px;
}

// .carousel-heading {
//   margin: 5px;
//   font-weight: 800;
//   color: #e42072;
// }

// .carousel-subHeading {
//   color: #959595;
//   margin: 5px;
// }

// .carousel-institute {
//   margin-top: 10px;
//   margin: 5px;
//   color: #959595;
//   font-size: 12px;
// }

.line {
  width: 20%; /* Line width */
  height: 2px; /* Line thickness */
  background-color: #e42072; /* Line color */
  //margin: 5px;
  
}

.verified-icon {
  color: rgb(5, 158, 247); /* Change the color as needed */
  margin-left: 5px; /* Adjust spacing as needed */
  transform: translate(0px,3px);
}
