.verified-icon {
  color: rgb(5, 158, 247);
  /* Change the color as needed */
  margin-left: 5px;
  /* Adjust spacing as needed */
  transform: translate(0px, 3px);
}

.watermark {
  width: 130px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain the aspect ratio */
  position: absolute;
  top: 10px;
  /* Adjust the top position as needed */
  left: 5px;
  /* Adjust the left position as needed */
  opacity: 0.4;
  /* Adjust the opacity as needed */
  z-index: 1;
  /* Ensure the image is behind the text */
}

.heading-container {
  z-index: 1;
  // margin: 5px;
  // font-weight: 800;
  // color: #e42072;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;

}

.carousel-button {
  background-color: transparent !important;
  color: grey !important;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 40px;
  height: 10vh;
}

.carousel-button:hover {
  color: white !important;
  background-color: darkgray !important;
}

.carousel-content {
  display: flex;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 30px;
}

.carousel-item {
  min-width: 330px !important;
  /* Adjust as needed */
  margin: 0px;
  padding: 15px;
  // background-color: #f8f8f8;
  border: 1px solid #dee2e6;
  // border-radius: 5px;
  // text-align: center;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  // border-radius: 20px;
}


.carousel-heading {
  margin-bottom: 10px;
  font-weight: 800;
  color: #e42072;
  font-size: 18px;
  /* Adjust as needed */
}

.carousel-subHeading {
  color: #959595;
  margin-bottom: 10px;
  z-index: 1;

}

.carousel-institute {
  color: #959595;
  font-size: 14px;
  z-index: 1;

}

.line {
  width: 30%;
  height: 2px;
  background-color: #e42072;
  margin: 10px 0;
  z-index: 1;
}

/* Add this media query at the end of your existing CSS */
@media (max-width: 768px) {
  .carousel-content {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .carousel-item {
    min-width: unset !important;
    /* Remove the minimum width for flexibility */
    width: 100%;
    /* Set width to 100% for full width on smaller screens */
    margin: 0px 0px 0px 15px     /* Add margin between items for better spacing */
  }



  .carousel-heading {
    font-size: 16px;
    /* Adjust heading font size for smaller screens */
    margin-bottom: 5px;
    /* Adjust margin for smaller screens */
  }

  .carousel-button,
  .carousel-subHeading,
  .carousel-institute,
  .line,
  .watermark {
    display: none
  }

  .verified-icon {
    transform: none;
    /* Reset the transformation for smaller screens */
  }


}